.bd-search {
    position: absolute;
    left: 50%;
    width: 300px;
    margin-left: -100px;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }

  .Userbutton{
    border-radius: 10px 0px 0px 10px;
    width:80px;
    height:30px;
    background-color: #ffffff;
   
  }

  .Artisanbutton{
    border-radius: 0px 10px 10px 0px;
    width:80px;
    height:30px;
    background-color: #ffffff;
    
  }

  .inputsign{
   min-width: 50px;
   max-width:  250px;
  }

  .buttonSing:hover{
    opacity: 0.8;
    transform: scale(1.05);
    
  }

  .buttonSing:valid{
    background-color: rgb(113, 255, 219);
    transition: all 1000ms ease;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .principale {
    padding: 2em;

  }
  

  .card:hover{
    box-shadow: 0 0 10px rgba(43, 42, 42, 0.5);
  
  }

  .product-item{
    margin: auto;
    padding: 8px;
    padding-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .product-item img{
    
    border-radius: 10px 10px 0px 0px;
    
    
  }

  .search-control{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    animation: drop-serach ease-in 0.1s;
  }

  #navbar {
    transition: top 0.3s ease;
  }

  .divisor{
    height: 70px ;
    background-color: rosybrown;
  }

  .buttonsidebar{
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
  }

  .buttonsidebar:hover{
    background-color: #e1e1e1;
    transform: scale(1.05);
  }

  .link-navbar{
    text-decoration: none;
    color: black;
  }

  .link-navbar:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
  }

  .formReg{
    max-width: 500px;
    
  }

   .inputform{
    opacity:100%;
   }

  .welcome-text{
    position: relative;
    animation: comparsa 5s ;
  }

  .switchbtn:hover{
    opacity: 0.8;
    transform: scale(1.05);
    background-color: antiquewhite;
  }

  .carItem{
    height: 200px;
    width: 100%;
    border:2px solid;
    background-color: aqua;
  }

body{
  height: 100vh
}

.text-admin{
  font-size: 1em;
  text-align: center;
}

.code-box{
  
    max-width: 60px;
    max-height: 60px;
    text-align: center;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  
}

.box-carrello {
  border: 2px solid orange;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
}

.thumb-img {
    cursor: pointer;
    border: 2px solid transparent;
    width: 20%;
  }

.thumb-img.active {
    border-color: #007bff;
}

.product-img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}  

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

body.js-loading {
  visibility: hidden;
  
}

.button-logged > p{
  margin: 0px;
}

.button-logged > p:nth-child(2){
margin-left: auto;
}

.button-logged{
  display: flex;
  align-items: center;
}

#uploadInfo {
      font-size: 0.9rem;
      color: #888;
    }


.imgCart{

  width: 40%;
  height: auto;
  display: block;
  object-fit: cover;
  min-width: 200px; 
}

.card .img-card{

  aspect-ratio: 16/12;
  
}

.table-row-index{

  height: 60px;
  background-color: black;

}

  @keyframes drop-serach {
    
    0% {
      transform: translateY(-50%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @media (max-width: 768px) {
    
    
    
  }

  @media (max-width: 756px) {
   
    .imgOrder{
      aspect-ratio: 9/16;
      object-fit: cover;
    }

    }

  @keyframes comparsa{

    0%{
      opacity: 0%;;
    }

    50%{
      opacity: 75%;
    }

    100%{
      opacity: 100%;
    }
  }